body{
    color: hsla(0,50%,0%,.85);
    font-size: 16px;
    font-family: Helvetica,Arial,"Microsoft YaHei",sans-serif;
    overflow: auto;
}
ul {
    list-style: none;
    margin:0;
    padding:0;
}
.container{
    margin: 0 auto;
    max-width: 1150px;
    min-width: 256px;
    padding: 10px 10px 10px 20px;
    background-color: mediumaquamarine;
    border-radius: 6px;
    @media screen and (min-width:768px){
        display: flex;
    }
}
.sidebar{
    padding: 10px;
    @media screen and (min-width:768px){
        min-width: 265px;
    }
}
.content{
    margin: 10px;
    @media screen and (min-width:768px){
        margin:20px 10px;
    }
}
.avatar{
    font-size:0;
    @media screen and (min-width:768px){
        text-align: center;
        max-width: 265px;
    }
    .name{
        font-size:28px;
    }
    img{
        border: 5px solid lightskyblue;
        border-radius: 50%;
    }
}

.about,
.contact,
.abilities{
    margin-top: 20px;
    .title{
        font-size:24px;
        margin-bottom: 5px;   
    }
}

.about_item .icon, 
.contact_item .icon,
.skill_item .star,
.content_item .des .icon{
    display: inline-block;
    vertical-align: middle;
}

.about_item div,
.contact_item,
.skill_item .skill_head,
.content_item .des{
    line-height: 20px;
}

.about_item div,
.about_item a,
.contact_item
{
    color: hsla(0,50%,0%,.65);
}

.about_item div:hover,
.about_item div:hover a,
.contact_item:hover{
    color:hsla(0,100%,0%,1);
}

.about_item div:hover ,
.contact_item:hover{
    .icon{
        filter:hue-rotate(35deg) saturate(5);
    } 
}

.contact_item:nth-child(2){
    padding-top: 2px;
}
.about_list{
    display: flex;
}

.about_item{
    &:first-child{
        margin-right: 30px;
        @media screen and (max-width:340px){
            margin-right: 10px;
        }
    }
    
}
.skill_name{
    display: inline-block;
    width: 100px;
    margin-right: 30px;
    @media screen and (max-width:340px){
        margin-right: 10px;
    }
}

.skill_item{
    padding-bottom: 5px;
    .skill_icon{
        display: inline-block;
        width: 20px;
        vertical-align: middle;
        margin-right: 5px;
    }
    .skill_content{
        margin-left: 30px;
        margin-top: -5px;
        font-size: 14px;
        div{
            line-height: 20px;
        }
    }
}

.content{
    .title{
        font-size:24px;
        margin-bottom: 5px;            
    }
    .content_item{
        padding-top:5px;
        &:nth-child(2){
            padding-top: 0;
        }
        .location{
            line-height: 30px;
            .icon{
                display: inline-block;
                width: 28px;
                height: 28px;
                vertical-align: middle;
            }
            .city{
                font-size: 20px;
                vertical-align: middle;
            }
        }
    }
}

.des{
    padding: 5px 0 0 32px;
    a{
        color: hsla(0,50%,0%,.65);
        text-decoration: none;
        &:hover{
            color:hsla(0,100%,0%,1);
            text-decoration: underline;
        }
    }
}

.content_item{
    #sz{
        padding-right:2px;
        border-right: 1px solid ;
    }
    #dg{
        padding-left: 2px;
    }
}

.project_list{
    padding: 5px 0 0 50px;
    .project{
        &:not(:first-child){
            margin-top: 5px;
        }
        div:not(:first-child){
            font-size: 14px;
        }
        div{
            line-height: 20px;
        }
        .project_title{
            font-size: 15px;
        } 
    }
}
.situation div:not(:first-child),
.effect div:not(:first-child),
.action ul{
  color: hsla(0,50%,0%,.65);
}
.situation div:first-child:before,
.effect div:first-child:before,
.action div:before{
  display: inline-block;
  width: 8px;
  height: 8px;
  content:"";
  border-radius: 50%;
  border: 1px solid currentColor;
  margin-right: 3px;
}
.situation div:nth-child(2),
.effect div:nth-child(2),
.action ul{
  margin: 2px 0 2px 12px;
}
