body {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  font-family: Helvetica,Arial,"Microsoft YaHei",sans-serif;
  overflow: auto; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  max-width: 800px;
  min-width: 256px;
  padding: 10px 10px 10px 20px;
  background-color: mediumaquamarine;
  border-radius: 6px; }
  @media screen and (min-width: 768px) {
    .container {
      display: flex; } }

.sidebar {
  padding: 10px; }
  @media screen and (min-width: 768px) {
    .sidebar {
      min-width: 265px; } }

.content {
  margin: 10px; }
  @media screen and (min-width: 768px) {
    .content {
      margin: 20px 10px; } }

.avatar {
  font-size: 0; }
  .avatar .name {
    font-size: 28px; }
  .avatar img {
    background-color: lightskyblue;
    border-radius: 50%; }

.about,
.contact,
.abilities {
  margin-top: 20px; }
  .about .title,
  .contact .title,
  .abilities .title {
    font-size: 24px;
    margin-bottom: 5px; }

.about_item .icon,
.contact_item .icon,
.content_item .des .icon {
  display: inline-block;
  vertical-align: middle; }

.about_item div,
.contact_item,
.skill_item,
.content_item .des {
  line-height: 20px; }

.about_item div,
.about_item a,
.contact_item {
  color: rgba(0, 0, 0, 0.65); }

.about_item div:hover,
.about_item div:hover a,
.contact_item:hover {
  color: black; }

.about_item div:hover .icon,
.contact_item:hover .icon {
  filter: hue-rotate(35deg) saturate(5); }

.contact_item:nth-child(2) {
  padding-top: 2px; }

.about_list {
  display: flex; }

.about_item:first-child {
  margin-right: 30px; }
  @media screen and (max-width: 340px) {
    .about_item:first-child {
      margin-right: 10px; } }

.skill_name {
  display: inline-block;
  width: 100px;
  margin-right: 30px; }
  @media screen and (max-width: 340px) {
    .skill_name {
      margin-right: 10px; } }

.square {
  position: absolute;
  clip-path: polygon(0 0, 0 0, 0 0, 0 0); }
  .square + label:before {
    display: inline-block;
    content: "\A0";
    width: 16px;
    height: 16px;
    line-height: .65;
    font-size: 18px;
    border-radius: 3px;
    background-color: #096dd9;
    vertical-align: middle;
    text-align: center; }
  .square:checked + label:before {
    content: "\2713"; }

.content .title {
  font-size: 24px;
  margin-bottom: 5px; }
.content .content_item {
  padding-top: 5px; }
  .content .content_item:nth-child(2) {
    padding-top: 0; }
  .content .content_item .location {
    line-height: 30px; }
    .content .content_item .location .icon {
      display: inline-block;
      width: 28px;
      height: 28px;
      vertical-align: middle; }
    .content .content_item .location .city {
      font-size: 20px;
      vertical-align: middle; }

.des {
  padding: 5px 0 0 32px; }
  .des a {
    color: rgba(0, 0, 0, 0.65);
    text-decoration: none; }
    .des a:hover {
      color: black;
      text-decoration: underline; }

.content_item #sz {
  padding-right: 2px;
  border-right: 1px solid; }
.content_item #dg {
  padding-left: 2px; }

.project_list {
  font-size: 14px;
  padding: 5px 0 0 66px; }
  .project_list .project:not(:first-child) {
    margin-top: 5px; }
  .project_list div {
    color: rgba(0, 0, 0, 0.65);
    line-height: 20px; }
    .project_list div:first-child {
      color: black; }

/*# sourceMappingURL=index.css.map */
